<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjBreCjs-l7v11fDHJIwegXFJCCpLO9D4</string>
	<key>GCM_SENDER_ID</key>
	<string>108948918146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.thecsworld</string>
	<key>PROJECT_ID</key>
	<string>the-c-s-world-83czhb</string>
	<key>STORAGE_BUCKET</key>
	<string>the-c-s-world-83czhb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108948918146:ios:f28e296cb87ac520bc499b</string>
</dict>
</plist>