<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256087961562-q4b91v7iqbmtf10afqvflniei3m6dr3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256087961562-q4b91v7iqbmtf10afqvflniei3m6dr3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>256087961562-iu4ohh1o37g9md451rqjc1ocp59j63rf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwGM2gERoEQjxXUzbY-h71z80ZRNGydKo</string>
	<key>GCM_SENDER_ID</key>
	<string>256087961562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.thecsworld</string>
	<key>PROJECT_ID</key>
	<string>the-cs-world</string>
	<key>STORAGE_BUCKET</key>
	<string>the-cs-world.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256087961562:ios:1298903137d4fa420f9ae3</string>
</dict>
</plist>